# Ignore node_modules en todos los subproyectos
**/node_modules/

# Ignore dist o build en todos
**/dist/
**/build/

# Logs
**/*.log
*.log

**/.env
.env

# TypeScript build info
**/*.tsbuildinfo

# IDE/editor settings
.vscode/
.idea/
.DS_Store

# Coverage
**/coverage/
**/dist
**/public
# Otros temporales
**/temp/
**/tmp/

# Ignore local database dumps or runtime files
**/*.pid
**/*.seed
